@charset "UTF_8";

*{
    padding: 0px;
    margin: 0px;
}

section pre {
    white-space: pre-line;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding: 30px 0px 0px 0px;
    font-variant: small-caps;
}

header p{
    padding: 0px 0px 30px 0px;
}

section {
    padding: 10vh 0px 10vh 30px;
    line-height: 2em;
}

.normal {
    background-color: white;
    color: black;
}

.img {
    background-color: blue;
}

.img  pre {
    background-color: rgba(0, 0, 0, 0.299);
    width: 400px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

footer {
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
}